.searchedGamesContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto
}

.cajaLink {
  text-decoration: none;
  background-color: rgb(61, 58, 58);
  border-radius: 10px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.795);
  z-index: 100;
  gap: calc(30%);
  margin: 10px; /* Ajusta el margen según tus preferencias */
}

.button {
  top: 20px;
  left: 20px;
  margin:0 10px;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  padding: 10px 20px;
  border-radius: 16px;
}

.button:hover {

  background-color: skyblue;
  border-color: #e74c3c;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-image-slice: 1;
  transition: transform 0.5s;
}

.button:hover::before {
  transform: rotate(360deg);
}

.button:active {
  transform: scale(0.95) translateX(2px);
}