.main {
  background-image: url('../../images/backgroundImageLanding.png');
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.button {
  position: absolute;
  top: 20px; /* Ajustar según la posición vertical deseada */
  left: 20px; /* Ajustar según la posición horizontal deseada */
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  padding: 10px 20px;
  border-radius: 16px;
}

.button:hover {

  background-color: skyblue;
  border-color: #e74c3c;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-image-slice: 1;
  transition: transform 0.5s;
}

.button:hover::before {
  transform: rotate(360deg);
}

.button:active {
  transform: scale(0.95) translateX(2px);
}


@media screen and (min-width: 601px) and (max-width: 900px) {
  
}

